body,
html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    background-color: #181717;
    
}

::-webkit-scrollbar {
    display: none;
}

* {
    outline: none;
}

@media only screen and (min-width : 320px) {

    /*-----TOP CONTENTS-----*/

    .top_contents {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .account_signin_title {
        color: #EDC681;
        font-size: 22px;
        font-weight: 200;
        opacity: 0;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----SIGN IN FORM-----*/

    .sign_in_form {
        width: 80%;
        display: flex;
        flex-flow: column;
        margin: auto;


    }

    .signin_inputs {
        margin-bottom: 10px;
        height: 40px;
        width: 70%;
        align-self: center;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        text-align: center;
        transition: 0.1s;


    }

    #email_input,
    #password_input {
        opacity: 0;
    }


    ::-webkit-input-placeholder {
        /* Edge */
        color: #EDC681;
        opacity: 0.5;
        font-weight: 300;
        text-align: center;
        font-family: 'Lato', sans-serif;

    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #EDC681;
        opacity: 0.5;
        font-weight: 300;
        text-align: center;
        font-family: 'Lato', sans-serif;

    }

    ::-moz-placeholder {
        color: #EDC681;
        opacity: 0.5;
        font-weight: 300;
        font-size: 0.9em;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    ::-ms-input-placeholder {
        color: #EDC681;
        opacity: 0.5;
        font-weight: 300;
        font-size: 0.9em;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    ::placeholder {
        color: #EDC681;
        opacity: 0.5;
        font-weight: 300;
        font-size: 1.1em;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }

    /*-----//  SIGN IN FORM-----*/
    /*-----ALTERNATIVE SIGN IN BUTTONS-----*/

    .alt_signin_buttons {
        width: 58%;
        height: 40%;
        margin: 0 auto;
        margin-bottom: 0px;
        display: flex;
        flex-flow: column;

    }


    #sign_up_button {
        width: 600px;
        height: 50px;
        align-self: center;
        background-color: transparent;
        border: none;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
        color: rgb(255, 255, 255);
        font-size: 12px;
        transition: 0.1s;
        font-weight: 200;
    }

    /*-----//  ALTERNATIVE SIGN IN BUTTONS-----*/
    /*-----NEXT/SIGN IN BUTTON-----*/

    #next_btn {
        width: 80%;
        height: 50px;
        margin: 0 auto;
        margin-bottom: 30px;
        background-color: transparent;
        border: none;
        color: #EDC681;
        font-size: 1.1em;
        font-weight: 200;
        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
        transition: 0.1s;
    }


    /*-----//  NEXT/SIGN IN BUTTON-----*/
    /*----------CLEANER ACCOUNT PAGE----------*/

    .back_button {
        position: absolute;
        top: 15px;
        left: 15px;
        height: 30px;
    }

    .open_sidemenu {
        position: absolute;
        top: 17px;
        right: 15px;
        font-size: 1.5em;
        color: #EDC681;
    }


    /*-----SIDE MENU-----*/

    .side_menu_container {
        position: absolute;
        width: 100%;
        height: 100%;

        display: none;
        
    }


    .side_menu_wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        right: -150%;
        display: flex;
        align-items: center;
        background-color: #252525;

    }


    .side_menu_list {
        list-style: none;
        color: #fff;
        margin: 0;
        margin-left: 15px;
        padding: 0;

    }

    .menu_list {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 200;
        color: #EDC681;
    }

    li:nth-child(4) {
        font-size: 18px;
        color: #fff;
        margin: 0;
        margin-top: 50px;
    }


    .fa-phone-alt,
    .fa-pound-sign,
    .fa-exclamation {
        font-size: 13px;
    }


    .fa-exclamation {
        color: rgb(255, 80, 80);
    }

    .back_out_side_menu {
        position: absolute;
        width: 120px;
        height: 50px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;

        border-top-right-radius: 100px;
        background-color: #181717;
        background: linear-gradient(145deg, #282828, #212121);
        box-shadow: 5px 5px 24px #0f0f0f,
            -5px -5px 24px #3b3b3b;
    }

    .back_text {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        color: #EDC681;
    }

    /*-----//  SIDE MENU-----*/


    /*-----CLEANERS INFO-----*/

    .cleaners_info_wrap {
        position: relative;
        width: 100%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


    }

    .avatar_border {
        width: 150px;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;

        border-left: 1px solid #EDC681;
        border-right: 1px solid #EDC681;
    }


    #cleaners_avatar {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        /*---opacity set to 0, resets to 1 through JS---*/
        opacity: 0;

    }

    .avatar {
        height: 50px;
        border-radius: 100px;
        transform: rotate(90deg);
    }

    .transform_rotate {
        transform: rotate(0deg);
        transition: 0.5s;
    }


    #cleaners_name {
        position: relative;
        bottom: 120%;
        color: #fff;
        font-size: 22px;
        font-weight: 200;
        margin: 5px 0px;

    }

    .account_type {
        width: 87px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 10px;
        font-weight: 200;
        border-radius: 100px;
        background-color: rgba(237, 197, 129, 0.418);

    }

    .cleaner_stats {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .number_of_cleans_wrap,
    .ratings_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

    }

    #number_of_cleans_text,
    #ratings_text {
        color: #fff;
        font-size: 10px;
        margin: 0;
    }

    .cleans_number,
    .ratings_number {
        color: #fff;
        font-size: 25px;
        font-weight: 200;
        display: flex;
    }

    .star_rating {
        height: 12px;
        margin-bottom: 10px;
    }


    /*-----//  CLEANERS INFO-----*/
    /*----------//  CLEANER ACCOUNT PAGE----------*/
}

/*-----HOVERS & SUCH-----*/

.google_signin_button:active,
.fb_signin_button:active,
#next_btn:active {
    border-width: 5px;
}

.signin_inputs:focus {
    border-bottom: 1px solid #EDC681;
    width: 90%;
}

#sign_up_button:active {
    opacity: 0.6;
    width: 80px;
}




/*-----//  HOVERS & SUCH-----*/