body,
html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    font-family: 'Lato', sans-serif;
    background-color: #181717;

}

::-webkit-scrollbar {
    display: none;
}

* {
    outline: none;

}

.gold_text {
    color: #EDC681;
}


@media only screen and (min-width : 320px) {


    /*----------MAIN SIGN IN PAGE----------*/
    /*-----TOP CONTENTS-----*/

    .top_contents {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main_title {
        color: #EDC681;
        font-size: 22px;
        font-weight: 300;
    }

    /*-----//  TOP CONTENTS-----*/
    /*-----SIGN IN FORM-----*/

    .sign_in_form {
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

    }

    #email_input,
    #password_input {
        width: 78%;
        height: 35px;
        text-align: center;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #fff;
        color: #fff;
        font-size: 18px;
        transition: 2s;

    }

    #password_input {
        display: flex;
        margin: 25px 0px 0px;

    }

    .show_hide_pw {
        position: absolute;
        margin-top: 8.5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        right: 33px;
        width: 45px;
        height: 35px;

    }

    .show_password,
    .hide_password {
        position: absolute;
        color: #EDC681;
        margin: 0;
        font-weight: 300;
        font-size: 0.7em;
    }

    .hide_password {
        display: none;
    }


    ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
        text-align: center;
        opacity: 0.7;
        font-size: 15px;

    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        text-align: center;
        opacity: 0.7;
        font-size: 15px;

    }

    :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff;
        text-align: center;
        opacity: 0.7;
        font-size: 15px;

    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        text-align: center;
        opacity: 0.7;
        font-size: 15px;

    }

    .sign_up_wrap {
        width: 150px;
        height: 30px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EDC681;
        border-radius: 100px;
    }

    .sign_up {
        color: #000;
    }

    /*-----//  SIGN IN FORM-----*/
    /*-----SIGN IN BUTTON-----*/

    .sign_in_btn_wrap {
        height: 15%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .sign_in_button {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 18px;
        font-weight: 300;
        background-color: transparent;
        color: #EDC681;
        z-index: 1;
    }

    .buttonclickstyle {
        position: absolute;
        background-color: rgba(237, 197, 129, 0.267);
        width: 0%;
        height: 15%;
        left: 0;
    }



    /*-----//  SIGN IN BUTTON-----*/

    /*----------//  MAIN SIGN IN PAGE----------*/
    /*----------REGISTER PAGE----------*/

    #register_page_body {
        overflow: scroll;
        display: block;

    }

    /*-----REGISTER PAGE TOP CONTENTS-----*/

    .top_contents__register {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .main_title__register {
        font-size: 22px;
        font-weight: 300;
        color: #EDC681;
    }

    /*-----//  REGISTER PAGE TOP CONTENTS-----*/
    /*-----REGISTER FORM-----*/


    .form_holder {
        height: 80%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


    }

    .register_form {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


    }

    .first_name_wrap,
    .address_wrap,
    .tools_wrap {
        width: 80%;
        display: flex;
        flex-flow: column;
        align-items: center;
        border: 1px solid #fff;

    }

    .address_wrap {
        margin: 15px;
    }

    .name_title {
        position: relative;
        color: #fff;
        margin: 0;
        margin-bottom: 10px;
        font-size: 15px;
        color: #EDC681;
        top: -11px;
        padding: 2px 20px;
        background-color: #181717;
    }


    #first_name__register,
    #last_name__register,
    #title__register,
    #tools_input {
        background-color: transparent;
        border: none;
        height: 25px;
        width: 80%;
        text-align: center;
        transition: 0.3s;
        color: #fff;
        font-weight: 300;
        resize: none;

    }

    #first_name__register {
        margin: 10px 0px;
    }

    #tools_input {
        height: 110px;
    }

    ::placeholder {
        color: #fff;
        font-family: 'Lato', sans-serif;

    }

    /*-----//  REGISTER FORM-----*/
    /*-----REGISTER BUTTON-----*/


    .register_wrap {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    #register_button {
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100%;
        color: #EDC681;
        font-size: 18px;
        font-weight: 300;

    }


    /*-----//  REGISTER BUTTON-----*/







    /*----------//  REGISTER PAGE----------*/















    /*----------CLEANER ACCOUNT PAGE----------*/


    .open_sidemenu {
        position: absolute;
        top: 17px;
        right: 15px;
        font-size: 1.5em;
        color: #fff;
    }

    .skippy {
        transition: 0.3s;
        transform: translate(-150px);
    }



    /*-----SIDE MENU-----*/

    .side_menu_container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;

    }

    .side_menu_wrap {
        position: absolute;
        width: 50%;
        height: 100%;
        right: 0%;
        z-index: 1;
        overflow: hidden;
        display: flex;
        align-items: center;
        background-color: #252525;

    }


    .side_menu_list {
        list-style: none;
        color: #fff;
        margin: 0;
        margin-left: 15px;
        padding: 0;

    }

    .menu_list {
        margin-bottom: 20px;
        font-size: 22px;
        font-weight: 200;
        color: #EDC681;
    }

    li:nth-child(4) {
        font-size: 18px;
        color: #fff;
        margin: 0;
        margin-top: 50px;
    }


    .fa-phone-alt,
    .fa-pound-sign,
    .fa-exclamation {
        font-size: 13px;
    }


    .fa-exclamation {
        color: rgb(255, 80, 80);
    }

    .back_out_side_menu {
        position: absolute;
        width: 120px;
        height: 50px;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;

        border-top-right-radius: 100px;
        background-color: #181717;
        background: linear-gradient(145deg, #282828, #212121);
        box-shadow: 5px 5px 24px #0f0f0f,
            -5px -5px 24px #3b3b3b;
    }

    .back_text {
        position: relative;
        color: #fff;
        font-size: 15px;
        font-weight: 200;
        color: #EDC681;
    }

    /*-----//  SIDE MENU-----*/
    /*-----CLEANERS INFO-----*/

    .cleaners_info_wrap {
        position: relative;
        width: 100%;
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;


    }

    .avatar_border {
        width: 150px;
        height: 63px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100px;

        border: 1.5px solid #EDC681;

    }


    #cleaners_avatar {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        /*---opacity set to 0, resets to 1 through JS---*/
        opacity: 0;

    }

    .avatar {
        height: 50px;
        border-radius: 100px;
        transform: rotate(90deg);
    }

    .transform_rotate {
        transform: rotate(0deg);
        transition: 0.5s;
    }


    #cleaners_name {
        position: relative;
        bottom: 120%;
        color: #fff;
        font-size: 22px;
        font-weight: 200;
        margin: 5px 0px;

    }

    .account_type {
        width: 87px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 10px;
        font-weight: 200;
        border-radius: 100px;
        background-color: rgba(237, 197, 129, 0.418);

    }

    .cleaner_stats {
        margin-top: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

    }

    .number_of_cleans_wrap,
    .ratings_wrap {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

    }

    #number_of_cleans_text,
    #ratings_text {
        color: #fff;
        font-size: 10px;
        margin: 0;
    }

    .cleans_number,
    .ratings_number {
        color: #fff;
        font-size: 25px;
        font-weight: 200;
        display: flex;
    }

    .star_rating {
        height: 12px;
        margin-bottom: 10px;
    }


    /*-----//  CLEANERS INFO-----*/
    /*-----BOOKING DATES & CALENDAR-----*/


    .calendar_wrap {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;

        display: none;

    }

    #myCalendar {
        height: 85%;
        width: 80%;
        margin-top: 35px;
        background-color: #181717;
        color: #fff;
        font-weight: 200;
        border: none;
        opacity: 0.3;

    }

    .neumorphize {
        opacity: 1 !important;
        transition: 1s;
        border-radius: 0px;
        background: linear-gradient(145deg, #1a1919, #161515);
        box-shadow: 9px 9px 11px #161515,
            -9px -9px 11px #1a1919;

    }

    .vanilla-calendar .vanilla-calendar-date--today {
        color: #EDC681;

    }

    .vanilla-calendar-date--active {
        cursor: pointer;
        background-color: #fff;
    }


    .vanilla-calendar-date {
        color: #fff;
        font-size: 0.8em;
        background-color: #181717 !important;
    }

    .vanilla-calendar-week {
        color: #000;
        font-size: 0.8em;
        background-color: transparent !important;

    }

    .calnder_bg_color {
        background-color: #fff !important;
        color: #000 !important;
    }



    /*-----//  BOOKING DATES & CALENDAR-----*/
    /*-----OPTIONS FOR CLEANER-----*/


    .options_wrap,
    .options_fade_wrap {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: column;

    }


    #open_calendar_btn,
    #jobs_btn,
    #go_live_btn {
        width: 85%;
        height: 50px;
        background-color: #242222;
        border: none;
        color: #fff;
        font-size: 1.1em;
        font-weight: 100;
    }

    #go_live_btn {
        border: 1px solid #EDC681;
        background-color: transparent;
        color: #fff;
        font-weight: 200;
    }

    .close_button_wrap {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 38%;
        right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        display: none;

    }

    .close_button {
        height: 30px;
    }

    .pending_jobs_wrap,
    .pending_jobs_fadein_wrap {
        position: absolute;
        width: 100%;
        height: 85%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background-color: #181717;
        margin-top: 40px;


    }

    .pending_jobs_fadein_wrap {
        display: none;
    }


    .pending_job {
        width: 85%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;
        background-color: #242222;
        color: #fff;
        margin: 10px 0px;

    }

    .close_button_pending_jobs {
        position: absolute;
        height: 25px;
        bottom: 15px;
        right: 15px;
    }

    .view_on_map {
        font-weight: 100;
    }


    .calendar_icon {
        height: 20px;
    }

    /*-----//  OPTIONS FOR CLEANER-----*/
    /*----------//  CLEANER ACCOUNT PAGE----------*/
}

/*-----HOVERS & SUCH-----*/

.google_signin_button:active,
.fb_signin_button:active,
#next_btn:active {
    border-width: 5px;
}

.signin_inputs:focus {
    border-bottom: 1px solid #EDC681;
    width: 90%;
}

#sign_up_button:active {
    opacity: 0.6;
    width: 80px;
}

#first_name__register:focus,
#last_name__register:focus,
#title__register:focus {
    background-color: rgba(237, 197, 129, 0.479);
    width: 100%;
}

#tools_input:focus {
    background-color: rgba(237, 197, 129, 0.479);
}

#open_calendar_btn:active {
    opacity: 0.7;
}


.buttonclickstyle_two {
    position: absolute;
    background-color: rgba(237, 197, 129, 0.267);
    width: 0%;
    height: 35%;
    left: 0;

}


/*-----//  HOVERS & SUCH-----*/